@charset "UTF-8";
:root {
  --col-bg1: white;
  --col-bg2:  #f5f8fa;
  --col-fg1:  black;
  --col-fg2:  #bbb;
  --col-link: #069;
  --col-shad: rgba(0, 0, 0, .2);

  --col-co: #99a;
  --col-kw: #08c;
  --col-li: #d53;
  --col-ty: #099;

  --font-code:  "Source Code Pro", Courier, monospace;
  --font-small: Helvetica, Arial, sans-serif;
  --font-text:  "PT Serif", Georgia, serif;

  --size-code: 14px/18px;
  --size-text: 16px/24px;
  --size-h1:   36px/48px;
  --size-h2:   30px/40px;
  --size-h3:   24px/32px;
  
  --width: 600px;

  font: var(--size-text) var(--font-text);
  font-variant-ligatures: common-ligatures;
}

/* dark mode is scaled to be slightly more zoomed in than light mode because i
 * find that makes it a bit more comparable in terms of readability */
@media (prefers-color-scheme: dark) {
  :root {
    --col-bg1:  #0d1117;
    --col-bg2:  #161b22;
    --col-fg1:  #ddd;
    --col-fg2:  #555;
    --col-link: #48d;
    --col-shad: rgba(255, 255, 255, .2);

    --col-co: #889;

    --size-code: 16px/20px;
    --size-text: 18px/27px;
    --size-h1:   40px/55px;
    --size-h2:   34px/47px;
    --size-h3:   27px/37px;

    --width: 675px;
  }
}

a {
  color: var(--col-link);
  text-decoration: none;
}

a[href^="#"] { border-bottom: 1px dotted; }

body {
  background-color: var(--col-bg1);
  color: var(--col-fg1);
  margin: auto;
  max-width: var(--width);
  padding: 15px;
}

h1 { font: normal var(--size-h1) var(--font-text); }
h2 { font: normal var(--size-h2) var(--font-text); }
h3 { font: normal var(--size-h3) var(--font-text); }

header {
  border-bottom: 1px dotted var(--col-fg2);
}

header h1 { margin: 2em 0; }
header p {
  color: var(--col-fg2);
  display: grid;
  font: 12px var(--font-small);
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

header p :nth-child(2) {
  text-align: right;
}

hr {
  border: none;
  border-top: 1px dotted var(--col-fg2);
  margin: 2em auto;
  max-width: 300px;
}

kbd {
  background-color: var(--col-bg2);
  border: 1px solid var(--col-fg2);
  border-radius: 3px;
  box-shadow: 0 1px 1px var(--col-shad);
  font: var(--size-code) var(--font-code);
  padding: 1px 4px;
}

p { margin: 10px 0; }

/* code --------------------------------------------------------------------- */

h-c { color: var(--col-co); }
h-k { color: var(--col-kw); }
h-l { color: var(--col-li); }
h-t { color: var(--col-ty); }

code { padding: 1px 4px; }
pre  { padding: 5px 10px; }
pre, code {
  background-color: var(--col-bg2);
  border-radius: 5px;
  font: var(--size-code) var(--font-code);
}
